In [13]:
## 넥슨 API 키 : test_3b341b04580056706630a7005aa630353dc098849203dc369a4dcd875acf97c7c5c4379a7a07b52f361ffef5fab87a55
## 던파 API 키 : ZWBQ5Hcf27Dz494NprIOqSpXUZqubuLG
## 라이엇 API 키 : RGAPI-51594ed7-aa70-4a72-b8bf-314c7f733d71

In [14]:
import requests
import pprint
import json
import pandas as pd

In [15]:
pd.set_option('display.max_colwidth', None) ## 셀 최대 너비 제한 해제

In [16]:
# url 호출
url='https://api.neople.co.kr/df/servers?apikey=ZWBQ5Hcf27Dz494NprIOqSpXUZqubuLG'

In [17]:
response = requests.get(url)

In [18]:
#텍스트로 변환 출력
contents = response.text

In [19]:
contents

'{"rows":[{"serverId":"cain","serverName":"카인"},{"serverId":"diregie","serverName":"디레지에"},{"serverId":"siroco","serverName":"시로코"},{"serverId":"prey","serverName":"프레이"},{"serverId":"casillas","serverName":"카시야스"},{"serverId":"hilder","serverName":"힐더"},{"serverId":"anton","serverName":"안톤"},{"serverId":"bakal","serverName":"바칼"}]}'

In [20]:
pp = pprint.PrettyPrinter(indent=4)
print(pp.pprint(contents))

'{"rows":[{"serverId":"cain","serverName":"카인"},{"serverId":"diregie","serverName":"디레지에"},{"serverId":"siroco","serverName":"시로코"},{"serverId":"prey","serverName":"프레이"},{"serverId":"casillas","serverName":"카시야스"},{"serverId":"hilder","serverName":"힐더"},{"serverId":"anton","serverName":"안톤"},{"serverId":"bakal","serverName":"바칼"}]}'
None

In [21]:
#문자열을 json으로 변경
json_ob = json.loads(contents)
print(json_ob)
print(type(json_ob)) #json타입 확인

{'rows': [{'serverId': 'cain', 'serverName': '카인'}, {'serverId': 'diregie', 'serverName': '디레지에'}, {'serverId': 'siroco', 'serverName': '시로코'}, {'serverId': 'prey', 'serverName': '프레이'}, {'serverId': 'casillas', 'serverName': '카시야스'}, {'serverId': 'hilder', 'serverName': '힐더'}, {'serverId': 'anton', 'serverName': '안톤'}, {'serverId': 'bakal', 'serverName': '바칼'}]}
<class 'dict'>

In [22]:
#  json -> dataframe 
dataframe = pd.json_normalize(json_ob)
print(dataframe)

                                                                                                                                                                                                                                                                                                                                                                  rows
0  [{'serverId': 'cain', 'serverName': '카인'}, {'serverId': 'diregie', 'serverName': '디레지에'}, {'serverId': 'siroco', 'serverName': '시로코'}, {'serverId': 'prey', 'serverName': '프레이'}, {'serverId': 'casillas', 'serverName': '카시야스'}, {'serverId': 'hilder', 'serverName': '힐더'}, {'serverId': 'anton', 'serverName': '안톤'}, {'serverId': 'bakal', 'serverName': '바칼'}]

In [23]:
dataframe

                                                                                                                                                                                                                                                                                                                                                                  rows
0  [{'serverId': 'cain', 'serverName': '카인'}, {'serverId': 'diregie', 'serverName': '디레지에'}, {'serverId': 'siroco', 'serverName': '시로코'}, {'serverId': 'prey', 'serverName': '프레이'}, {'serverId': 'casillas', 'serverName': '카시야스'}, {'serverId': 'hilder', 'serverName': '힐더'}, {'serverId': 'anton', 'serverName': '안톤'}, {'serverId': 'bakal', 'serverName': '바칼'}]